$primaryColor: #E8EAED;
$normalTextColor: #121417;
$headerTextColor: #565666;
$labelTextColor: #727287;
$pinkLighter: #FFB7D5;
$pinkLight: #ff94c2;
$pink: #f06292;
$pinkDark: #ba2d65;
$blueLighter: #daffff;
$blueLight: #a6fcff;
$blue: #70c9f9;
$blueDark: #3598c6;
$greenLighter: #f9ffad;
$greenLight: #c4ff7b;
$green: #8fe948;
$greenDark: #5ab602;
