@import "flat-colors.scss";

$primaryColor: $blue;
$primaryColorDark: $blueDark;
$primaryColorBackground: darken($primaryColor, 20);
$normalTextColor: #121417;
$headerTextColor: #565666;
$labelTextColor: #727287;
$mainBackgroundColor: #36393F;
