// Flat colors
// Source: https://i.pinimg.com/originals/74/6d/a0/746da0d4553ccec415dcc03195bb3742.png

$redLight: #F17171;
$red: #EE4D4D;
$redDark: #D64545;

$orangeLight: #FFA071;
$orange: #FF884D;
$orangeDark: #E57A45;

$yellowLight: #FFD071;
$yellow: #FFC44D;
$yellowDark: #E5B045;

$greenLight: #A2D471;
$green: #8BC94D;
$greenDark: #7DB545;

$cyanLight: #71E2D0;
$cyan: #4DDBC4;
$cyanDark: #45C5B0;

$blueLight: #71D0FF;
$blue: #4DC4FF;
$blueDark: #45B0E5;

$navyLight: #7EA9FF;
$navy: #5E94FF;
$navyDark: #5485E5;

$purpleLight: #B38DFF;
$purple: #A071FF;
$purpleDark: #9065E5;

$pinkLight: #FF71B7;
$pink: #FF4DA5;
$pinkDark: #E54594;

$grayLight: #A2ADB8;
$gray: #8B98A6;
$grayDark: #7D8995;
