@import "colors";
@import "fonts";

* {
	font-family: 'Raleway', 'Montserrat', Helvetica, Verdana, Arial, sans-serif, serif;
}

html {
	body {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}

.jumbotron-neon {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
}
.jumbotron-neon-pink {
	border: 1px solid $pinkLight;
	box-shadow: inset 0 0 8px $pinkLighter, 0 0 8px $pinkLighter;
}
.jumbotron-neon-blue {
	border: 1px solid $blue;
	box-shadow: inset 0 0 8px $blue, 0 0 8px $blue;
}
.jumbotron-neon-green {
	border: 1px solid $green;
	box-shadow: inset 0 0 8px $greenLight, 0 0 8px $greenLight;
}

@media (min-width: 576px) {
	.jumbotron {
		padding: 4rem 2rem;
	}
}
