@import "colors.scss";
@import "metrics.scss";
@import "fonts.scss";

*:not(.material-icons) {
	font-family: 'Raleway', 'Montserrat', Helvetica, Verdana, Arial, sans-serif, serif;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0;
}

h1 {
	font-family: "Comfortaa", "Raleway", "Montserrat", Helvetica, Verdana, Arial, sans-serif, serif;
	font-weight: bold;
	color: white;
}

input[type="text"], input[type="text"]:focus, input[readonly], input:disabled {
	background-color: darken($mainBackgroundColor, 7);
	color: white;
}
input[type="text"]:focus {
	background-color: darken($mainBackgroundColor, 7);
	color: white;
}
